#green-line {
  left: 0;
  position: relative;
  top: 44px;

  .route {
    background-color: $green;
  }

  .stop-4 {
    top: 22px;
  }

  .stop-5-right {
    top: 133px;
  }

  .stop-6-right {
    top: 244px;
  }
}

#g1 {
  height: 20px;
  left: 150px;
  position: absolute;
  width: 300px;

  &:after,
  &:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
  }

  &:after {
    border-left-color: $green;
    border-width: 18px;
    left: -32px;
    top: -8px;
    transform: rotate(180deg);
  }
}

#g2 {
  height: 20px;
  left: 450px;
  position: absolute;
  width: 248px;
}

#g3 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 696px;
  position: absolute;
  width: 60px;

  &:before {
    background-color: $white;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px;
  }
}

#g4 {
  height: 600px;
  left: 736px;
  position: absolute;
  top: 58px;
  width: 20px;
}
