#pink-line {
  left: 0;
  position: relative;
  top: 66px;

  .route {
    background-color: $pink;
  }

  .arrow {
    &:after {
      background-color: $pink;
    }
  }

  .arrow-1 {
    left: 138px;
  }

  .arrow-2 {
    top: 256px;
  }

  .arrow-3 {
    top: 96px;
  }

  .arrow-4 {
    left: 97px;
  }

  .stop-1-top {
    left: 22px;
  }

  .stop-2-right {
    top: 106px;
  }

  .stop-3-top {
    left: 192px;
  }

  .stop-5-left {
    top: 131px;
  }

  .stop-6-left {
    top: 242px;
  }

  .stop-7 {
    top: 336px;
    z-index: 3;
  }

  .stop-8 {
    left: 22px;
  }
}

#p1 {
  height: 20px;
  left: 150px;
  position: absolute;
  width: 303px;

  &:after,
  &:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
  }

  &:after {
    border-left-color: $pink;
    border-width: 18px;
    left: -32px;
    top: -8px;
    transform: rotate(180deg);
  }
}

#p2 {
  height: 20px;
  left: 453px;
  position: absolute;
  width: 245px;
}

#p3 {
  border-radius: 0 40px 0 0;
  height: 38px;
  left: 694px;
  position: absolute;
  width: 40px;

  &:before {
    background-color: $white;
    border-radius: 0 20px 0 0;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 20px;
  }
}

#p4 {
  height: 396px;
  left: 714px;
  position: absolute;
  top: 38px;
  width: 20px;
}

#p5 {
  height: 396px;
  left: 394px;
  position: absolute;
  top: 38px;
  width: 20px;
}

#p6 {
  border-radius: 0 40px 0 0;
  height: 40px;
  left: 374px;
  position: absolute;
  width: 40px;

  &:before {
    background: linear-gradient(to right, $orange 90%, $white 0%);
    border-radius: 0 20px 0 0;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 20px;
  }
}

#p7 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 394px;
  position: absolute;
  top: 432px;
  transform: rotate(180deg);
  width: 60px;

  &:before {
    background-color: $white;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px;
  }
}

#p8 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 675px;
  position: absolute;
  top: 431px;
  transform: rotate(90deg);
  width: 60px;

  &:before {
    background-color: $white;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px;
  }
}

#p9 {
  height: 20px;
  left: 453px;
  position: absolute;
  top: 470px;
  width: 224px;
}