html {
  font-family: Helvetica; }

li {
  list-style: none; }

ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0; }

#cta {
  padding-left: 5%;
  padding-top: 4%; }

.deg180 {
  transform: rotate(180deg); }

.deg90 {
  transform: rotate(90deg); }

.wheelchair {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  display: block;
  height: 23px;
  padding-bottom: 5px;
  padding-left: 5px;
  transform: rotateY(180deg);
  width: 23px;
  z-index: 1; }
  .wheelchair li {
    background-color: #000;
    display: block;
    position: absolute; }
  .wheelchair .wheel {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 100%;
    height: 13px;
    left: 7px;
    top: 10px;
    width: 13px;
    z-index: 1; }
    .wheelchair .wheel:before {
      background: #fff;
      content: "";
      display: block;
      height: 9px;
      left: -3px;
      position: absolute;
      top: -3px;
      width: 13px; }
  .wheelchair .legs {
    border-radius: 2px;
    height: 2px;
    left: 2px;
    top: 19px;
    transform: rotate(-250deg);
    width: 9px;
    z-index: 1; }
  .wheelchair .arms {
    height: 2px;
    left: 9px;
    top: 11px;
    width: 10px;
    z-index: 1; }
  .wheelchair .thighs {
    border-radius: 0 0 2px 0;
    height: 3px;
    left: 8px;
    top: 15px;
    width: 10px;
    z-index: 1; }
  .wheelchair .back {
    border-radius: 2px 2px 0 0;
    height: 8px;
    left: 16px;
    top: 8px;
    transform: rotate(10deg);
    width: 3px;
    z-index: 1; }
    .wheelchair .back:before {
      background: #000;
      border-radius: 100%;
      content: '';
      height: 4px;
      left: -1px;
      position: absolute;
      top: -5px;
      width: 4px; }

.stop {
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 20px;
  height: 20px;
  position: absolute;
  width: 20px; }
  .stop:after {
    background-color: #fff;
    border: 5px solid #000;
    position: absolute; }

.stop-small {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 14px;
  position: absolute; }

.stop-name {
  background-color: transparent;
  border: 0;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 1em; }

.direction {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 1.05em; }

.stop-1-bottom {
  height: 20px;
  left: 25px;
  top: -5px;
  width: 20px; }
  .stop-1-bottom:after {
    border-bottom: 0;
    border-top: 0;
    content: " ";
    height: 7px;
    top: 18px;
    width: 10px; }

.stop-1-top {
  height: 20px;
  left: 25px;
  top: -5px;
  width: 20px; }
  .stop-1-top:after {
    border-bottom: 0;
    border-top: 0;
    content: " ";
    height: 8px;
    top: -5px;
    width: 10px; }

.stop-2-left {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-2-left:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    right: -5px;
    top: 0;
    width: 8px; }

.stop-2-right {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-2-right:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    left: -5px;
    top: 0;
    width: 8px; }

.stop-3-bottom {
  height: 20px;
  left: 195px;
  top: -5px;
  width: 20px;
  z-index: 1; }

.stop-3-top {
  height: 20px;
  left: 195px;
  top: -5px;
  width: 20px;
  z-index: 1; }
  .stop-3-top:after {
    background-color: #fff;
    border-bottom: 2px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-top: 2px solid #000;
    content: " ";
    height: 3px;
    position: absolute;
    top: -5px;
    width: 10px; }

.stop-4 {
  height: 14px;
  left: 1px;
  top: 20px;
  width: 14px;
  z-index: 1; }

.stop-5-left {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-5-left:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    right: -5px;
    top: 0;
    width: 8px; }

.stop-5-right {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-5-right:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    left: -5px;
    top: 0;
    width: 8px; }

.stop-6-left {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-6-left:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    right: -5px;
    top: 0;
    width: 8px; }

.stop-6-right {
  height: 20px;
  left: -6px;
  top: 110px;
  width: 20px;
  z-index: 1; }
  .stop-6-right:after {
    border-left: 0;
    border-right: 0;
    content: " ";
    height: 10px;
    left: -5px;
    top: 0;
    width: 8px; }

.stop-7 {
  height: 14px;
  left: 1px;
  top: 110px;
  width: 14px;
  z-index: 1; }

.stop-8 {
  height: 14px;
  left: 25px;
  top: 1px;
  width: 14px;
  z-index: 1; }

#stops {
  position: relative; }

#s0 {
  left: 478px;
  position: absolute;
  top: -60px;
  width: 100px; }
  #s0 .wheelchair {
    left: 65px;
    position: absolute;
    top: 23px; }

#s1 {
  left: 150px;
  position: absolute;
  text-align: right;
  top: 186px;
  width: 190px; }
  #s1 .wheelchair {
    left: 5px;
    position: absolute;
    top: -3px; }

#s2 {
  left: 810px;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 190px; }

#s3 {
  left: 810px;
  position: absolute;
  text-align: left;
  top: 225px;
  width: 190px; }

#s4 {
  left: 810px;
  position: absolute;
  text-align: left;
  top: 365px;
  width: 190px; }

#s5 {
  left: 150px;
  position: absolute;
  text-align: right;
  top: 435px;
  width: 190px; }

#s6 {
  color: #01A951;
  left: -70px;
  position: absolute;
  text-align: right;
  top: 20px;
  width: 190px; }

#s7 {
  color: #F48BB6;
  left: -70px;
  position: absolute;
  text-align: right;
  top: 65px;
  width: 190px; }

#s8 {
  left: 410px;
  position: absolute;
  text-align: center;
  top: 480px;
  width: 190px;
  z-index: 3; }

#s9 {
  left: 650px;
  position: absolute;
  text-align: left;
  top: -60px;
  width: 190px; }

.arrow-1 {
  height: 20px;
  left: 140px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px; }
  .arrow-1:before {
    background-color: #fff;
    content: " ";
    height: 20px;
    left: 5px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px; }
  .arrow-1:after {
    content: " ";
    height: 20px;
    left: 13px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px; }

.arrow-2 {
  height: 20px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 260px;
  transform: rotate(-90deg);
  width: 20px; }
  .arrow-2:before {
    background-color: #fff;
    content: " ";
    height: 20px;
    left: 5px;
    position: absolute;
    transform: rotate(-45deg);
    width: 20px; }
  .arrow-2:after {
    content: " ";
    height: 20px;
    left: 13px;
    position: absolute;
    transform: rotate(-45deg);
    width: 20px; }

.arrow-3 {
  height: 20px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 100px;
  transform: rotate(-90deg);
  width: 20px; }
  .arrow-3:before {
    background-color: #fff;
    content: " ";
    height: 20px;
    left: 5px;
    position: absolute;
    transform: rotate(-45deg);
    width: 20px; }
  .arrow-3:after {
    content: " ";
    height: 20px;
    left: 13px;
    position: absolute;
    transform: rotate(-45deg);
    width: 20px; }

.arrow-4 {
  height: 20px;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px; }
  .arrow-4:before {
    background-color: #fff;
    content: " ";
    height: 20px;
    left: 5px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px; }
  .arrow-4:after {
    content: " ";
    height: 20px;
    left: 13px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px; }

#brown-line {
  left: 0;
  position: relative;
  top: 0; }
  #brown-line .route {
    background-color: #744200; }
  #brown-line .arrow:after {
    background-color: #744200; }
  #brown-line .stop-4 {
    top: 24px;
    z-index: 3; }
  #brown-line .stop-5-right {
    top: 135px;
    z-index: 3; }
  #brown-line .stop-6-right {
    top: 246px;
    z-index: 3; }
  #brown-line .stop-7 {
    top: 340px;
    z-index: 3; }

#b1 {
  border-radius: 0 100px 0 0;
  height: 100px;
  left: 350px;
  position: absolute;
  transform: rotateY(180deg);
  width: 100px; }
  #b1:before {
    background-color: #fff;
    border-radius: 0 80px 0 0;
    content: " ";
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 80px; }

#b2 {
  height: 20px;
  left: 450px;
  position: absolute;
  width: 250px; }

#b3 {
  border-radius: 0 100px 0 0;
  height: 100px;
  left: 700px;
  position: absolute;
  width: 100px; }
  #b3:before {
    background-color: #fff;
    border-radius: 0 80px 0 0;
    content: " ";
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 80px; }

#b4 {
  height: 400px;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 20px; }

#b5 {
  height: 400px;
  left: 780px;
  position: absolute;
  top: 100px;
  width: 20px; }

#b6 {
  border-radius: 0 100px 0 0;
  height: 100px;
  left: 350px;
  position: absolute;
  top: 500px;
  transform: rotate(180deg);
  width: 100px; }
  #b6:before {
    background-color: #fff;
    border-radius: 0 80px 0 0;
    content: " ";
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 80px; }

#b7 {
  border-radius: 0 100px 0 0;
  height: 100px;
  left: 700px;
  position: absolute;
  top: 500px;
  transform: rotate(90deg);
  width: 100px; }
  #b7:before {
    background-color: #fff;
    border-radius: 0 80px 0 0;
    content: " ";
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 80px; }

#b8 {
  height: 20px;
  left: 450px;
  position: absolute;
  top: 580px;
  width: 250px; }

#orange-line {
  left: 0;
  position: relative;
  top: 22px; }
  #orange-line .route {
    background-color: #F37737; }
  #orange-line .arrow:after {
    background-color: #F37737; }
  #orange-line .stop-4 {
    top: 24px;
    z-index: 2; }
  #orange-line .stop-5-right {
    top: 135px;
    z-index: 2; }
  #orange-line .stop-6-right {
    top: 246px;
    z-index: 2; }
  #orange-line .stop-7 {
    top: 340px;
    z-index: 3; }

#o1 {
  border-radius: 0 80px 0 0;
  height: 78px;
  left: 372px;
  position: absolute;
  transform: rotateY(180deg);
  width: 80px; }
  #o1:before {
    background-color: #fff;
    border-radius: 0 60px 0 0;
    content: " ";
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 60px; }

#o2 {
  height: 20px;
  left: 450px;
  position: absolute;
  width: 248px; }

#o3 {
  border-radius: 0 80px 0 0;
  height: 78px;
  left: 698px;
  position: absolute;
  width: 80px; }
  #o3:before {
    background-color: #fff;
    border-radius: 0 60px 0 0;
    content: " ";
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 60px; }

#o4 {
  height: 400px;
  left: 372px;
  position: absolute;
  top: 78px;
  width: 20px; }

#o5 {
  height: 602px;
  left: 758px;
  position: absolute;
  top: 78px;
  width: 20px; }

#o6 {
  border-radius: 0 80px 0 0;
  height: 78px;
  left: 372px;
  position: absolute;
  top: 478px;
  transform: rotate(180deg);
  width: 80px; }
  #o6:before {
    background-color: #fff;
    border-radius: 0 60px 0 0;
    content: " ";
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 60px; }

#o7 {
  height: 20px;
  left: 450px;
  position: absolute;
  top: 536px;
  width: 290px;
  z-index: 1; }

#o8 {
  border-radius: 0 40px 0 0;
  height: 40px;
  left: 738px;
  position: absolute;
  top: 536px;
  width: 40px;
  z-index: 3; }
  #o8:before {
    background: linear-gradient(to right, #01A951 90%, #fff 0%);
    border-radius: 0 20px 0 0;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 20px; }

#green-line {
  left: 0;
  position: relative;
  top: 44px; }
  #green-line .route {
    background-color: #01A951; }
  #green-line .stop-4 {
    top: 22px; }
  #green-line .stop-5-right {
    top: 133px; }
  #green-line .stop-6-right {
    top: 244px; }

#g1 {
  height: 20px;
  left: 150px;
  position: absolute;
  width: 300px; }
  #g1:after, #g1:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0; }
  #g1:after {
    border-left-color: #01A951;
    border-width: 18px;
    left: -32px;
    top: -8px;
    transform: rotate(180deg); }

#g2 {
  height: 20px;
  left: 450px;
  position: absolute;
  width: 248px; }

#g3 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 696px;
  position: absolute;
  width: 60px; }
  #g3:before {
    background-color: #fff;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px; }

#g4 {
  height: 600px;
  left: 736px;
  position: absolute;
  top: 58px;
  width: 20px; }

#pink-line {
  left: 0;
  position: relative;
  top: 66px; }
  #pink-line .route {
    background-color: #F48BB6; }
  #pink-line .arrow:after {
    background-color: #F48BB6; }
  #pink-line .arrow-1 {
    left: 138px; }
  #pink-line .arrow-2 {
    top: 256px; }
  #pink-line .arrow-3 {
    top: 96px; }
  #pink-line .arrow-4 {
    left: 97px; }
  #pink-line .stop-1-top {
    left: 22px; }
  #pink-line .stop-2-right {
    top: 106px; }
  #pink-line .stop-3-top {
    left: 192px; }
  #pink-line .stop-5-left {
    top: 131px; }
  #pink-line .stop-6-left {
    top: 242px; }
  #pink-line .stop-7 {
    top: 336px;
    z-index: 3; }
  #pink-line .stop-8 {
    left: 22px; }

#p1 {
  height: 20px;
  left: 150px;
  position: absolute;
  width: 303px; }
  #p1:after, #p1:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0; }
  #p1:after {
    border-left-color: #F48BB6;
    border-width: 18px;
    left: -32px;
    top: -8px;
    transform: rotate(180deg); }

#p2 {
  height: 20px;
  left: 453px;
  position: absolute;
  width: 245px; }

#p3 {
  border-radius: 0 40px 0 0;
  height: 38px;
  left: 694px;
  position: absolute;
  width: 40px; }
  #p3:before {
    background-color: #fff;
    border-radius: 0 20px 0 0;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 20px; }

#p4 {
  height: 396px;
  left: 714px;
  position: absolute;
  top: 38px;
  width: 20px; }

#p5 {
  height: 396px;
  left: 394px;
  position: absolute;
  top: 38px;
  width: 20px; }

#p6 {
  border-radius: 0 40px 0 0;
  height: 40px;
  left: 374px;
  position: absolute;
  width: 40px; }
  #p6:before {
    background: linear-gradient(to right, #F37737 90%, #fff 0%);
    border-radius: 0 20px 0 0;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 20px; }

#p7 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 394px;
  position: absolute;
  top: 432px;
  transform: rotate(180deg);
  width: 60px; }
  #p7:before {
    background-color: #fff;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px; }

#p8 {
  border-radius: 0 60px 0 0;
  height: 58px;
  left: 675px;
  position: absolute;
  top: 431px;
  transform: rotate(90deg);
  width: 60px; }
  #p8:before {
    background-color: #fff;
    border-radius: 0 40px 0 0;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40px; }

#p9 {
  height: 20px;
  left: 453px;
  position: absolute;
  top: 470px;
  width: 224px; }

#red-line {
  position: relative;
  top: -74px; }
  #red-line .route {
    background-color: #E31A38; }

#r1 {
  height: 70px;
  left: 625px;
  position: absolute;
  width: 20px; }

#r2 {
  height: 612px;
  left: 625px;
  position: absolute;
  top: 164px;
  width: 20px;
  z-index: -2; }

#r3 {
  background: linear-gradient(#744200 50%, #fff 50%);
  background-repeat: repeat-y;
  background-size: 100% 12%;
  height: 70px;
  left: 603px;
  position: absolute;
  width: 20px; }

#r4 {
  background: linear-gradient(#744200 50%, #fff 50%);
  background-repeat: repeat-y;
  background-size: 100% 1.4%;
  height: 612px;
  left: 603px;
  position: absolute;
  top: 164px;
  width: 20px;
  z-index: -2; }
