@import "variables.scss";
@import "brown.scss";
@import "orange.scss";
@import "green.scss";
@import "pink.scss";

/********************************************
  Global
*********************************************/
li {
  list-style: none;
}

#cta {
  padding-top: 50px;
  padding-left: 50px;
}

/********************************************
  Arrows
*********************************************/
.arrow {
  height: 20px;
  left: 160px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px;

  &:before {
    background-color: $white;
    content: " ";
    height: 20px;
    left: 5px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
  }

  &:after {
    content: " ";
    height: 20px;
    left: 13px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
  }
}

/********************************************
  Circle
*********************************************/
.circle {
  background-color: $white;
  border: 5px solid $black;
  border-radius: 20px;
  height: 20px;
  left: 25px;
  position: relative;
  top: -5px;
  width: 20px;

  &:after {
    background-color: $white;
    border: 5px solid $black;
    border-bottom: 0;
    border-top: 0;
    content: " ";
    height: 7px;
    position: absolute;
    top: 18px;
    width: 10px;
  }
}

.circle-flipped {
  background-color: $white;
  border: 5px solid $black;
  border-radius: 20px;
  height: 20px;
  left: 25px;
  position: relative;
  top: -5px;
  width: 20px;

  &:after {
    background-color: $white;
    border: 5px solid $black;
    border-bottom: 0;
    border-top: 0;
    content: " ";
    height: 8px;
    position: absolute;
    top: -5px;
    width: 10px;
  }
}
